<form (ngSubmit)="addAccessItem(myForm)" #myForm="ngForm" novalidate>
  <p> Person
    <input type="text" name="username" [(ngModel)]="username" #myUsername="ngModel" required/>
  </p>
  <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
    <p class="error" [hidden]="!myUsername.errors.required">
      Person name is required.
    </p>
  </div>
  <p> Message
    <input type="text" name="password" [(ngModel)]="password" #myPassword="ngModel" required />
  </p>
  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
    <p class="error" [hidden]="!myPassword.errors.required">
      Message is required.
    </p>
  </div>
  <button type="submit"> signup </button>
</form>



<button (click)="addAccessItem(log)">click me </button>